<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Redmine Shortucuts</title>
    <%= stylesheet_link_tag 'help.css', :plugin => 'redmine_shortcuts' %>
  </head>
  <body>
    <h1><%= l(:shortcuts_help_title) %></h1>
    <table style="width:100%">
      <tr><th colspan="3"><%= l(:shortcuts_help_issue_index) %></th></tr>
      <tr><th><td style="width:50%;">N</td><td style="width:50%;"><%= l(:shortcuts_help_new_issue) %></td></tr>
    </table>
    <table style="width:100%">
      <tr><th colspan="3"><%= l(:shortcuts_help_issue_show) %></th></tr>
      <tr><th><td style="width:50%;">C</td><td style="width:50%;"><%= l(:shortcuts_help_copy_issue) %></td></tr>
      <tr><th><td style="width:50%;">D</td><td style="width:50%;"><%= l(:shortcuts_help_delete_issue) %></td></tr>
      <tr><th><td style="width:50%;">E</td><td style="width:50%;"><%= l(:shortcuts_help_edit_issue) %></td></tr>
      <tr><th><td style="width:50%;">L</td><td style="width:50%;"><%= l(:shortcuts_help_log_time_issue) %></td></tr>
      <tr><th><td style="width:50%;">Q</td><td style="width:50%;"><%= l(:shortcuts_help_quote_issue) %></td></tr>
      <tr><th><td style="width:50%;">U</td><td style="width:50%;"><%= l(:shortcuts_help_unwatch_issue) %></td></tr>
      <tr><th><td style="width:50%;">W</td><td style="width:50%;"><%= l(:shortcuts_help_watch_issue) %></td></tr>
    </table>
    <table style="width:100%">
      <tr><th colspan="3"><%= l(:shortcuts_help_editor) %></th></tr>
      <% if @text_formatting == 'textile' %>
      <tr><th><%= image_tag 'bt_strong.png', :plugin => 'redmine_shortcuts', :alt => 'Strong', :style => 'border: 1px solid #bbb;' %></th><td style="width:50%;">CTRL + B</td><td style="width:50%;"><strong><%= l(:shortcuts_help_strong) %></strong></td></tr>
      <tr><th><%= image_tag 'bt_em.png', :plugin => 'redmine_shortcuts', :alt => 'Italic', :style => 'border: 1px solid #bbb;' %></th><td>CTRL + I</td><td><em><%= l(:shortcuts_help_italic) %></em></td></tr>
      <tr><th><%= image_tag 'bt_ins.png', :plugin => 'redmine_shortcuts', :alt => 'Underline', :style => 'border: 1px solid #bbb;' %></th><td>CTRL + U</td><td><ins><%= l(:shortcuts_help_underline) %></ins></td></tr>
      <tr><th><%= image_tag 'bt_del.png', :plugin => 'redmine_shortcuts', :alt => 'Deleted', :style => 'border: 1px solid #bbb;' %></th><td>CTRL + S</td><td><del><%= l(:shortcuts_help_deleted) %></del></td></tr>
      <% elsif @text_formatting == 'markdown' %>
      <tr><th><%= image_tag 'bt_strong.png', :plugin => 'redmine_shortcuts', :alt => 'Strong', :style => 'border: 1px solid #bbb;' %></th><td style="width:50%;">CTRL + B</td><td style="width:50%;"><strong><%= l(:shortcuts_help_strong) %></strong></td></tr>
      <tr><th><%= image_tag 'bt_em.png', :plugin => 'redmine_shortcuts', :alt => 'Italic', :style => 'border: 1px solid #bbb;' %></th><td>CTRL + I</td><td><em><%= l(:shortcuts_help_italic) %></em></td></tr>
      <tr><th><%= image_tag 'bt_del.png', :plugin => 'redmine_shortcuts', :alt => 'Deleted', :style => 'border: 1px solid #bbb;' %></th><td>CTRL + S</td><td><del><%= l(:shortcuts_help_deleted) %></del></td></tr>
      <% end %>
    </table>
  </body>
</html>
