<table>
  <tbody>
    <tr>
      <td><b><%= l(:shortcuts_settings_enable_in_issues) %></b></td>
      <td>
        <%= check_box_tag 'settings[enable_issue_shortcuts]', '1', @settings['enable_issue_shortcuts'] %>
      </td>
    </tr>
    <tr>
      <td><b><%= l(:shortcuts_settings_enable_in_editor) %></b></td>
      <td>
        <%= check_box_tag 'settings[enable_editor_shortcuts]', '1', @settings['enable_editor_shortcuts'] %>
      </td>
    </tr>
    <tr>
      <td><b><%= l(:shortcuts_settings_enable_help_link) %></b></td>
      <td>
        <%= check_box_tag 'settings[enable_help_link]', '1', @settings['enable_help_link'] %>
      </td>
    </tr>
    <tr>
      <td><b><%= l(:shortcuts_settings_help_link_label) %></b></td>
      <td>
        <%= text_field_tag 'settings[help_link_label]', @settings['help_link_label'].blank? ? 'Redmine shortcuts' : @settings['help_link_label'], :required => true %>
      </td>
    </tr>
  </tbody>
</table>
